<html th:replace="~{layout :: layout(~{::title},~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Chat</title>
</head>
<body>

<!--/*@thymesVar id="chatForm" type="com.udacity.jwdnd.ci.review.model.ChatForm"*/-->

<section>
    <form th:object="${chatForm}" action="#" th:action="@{/chat}" method="POST">
        <div class="mb-2">You are logged in as <b th:text="${username}">Username</b></div>
        <div class="form-row">
            <div class=col-8><label for="messageText">Message Text:</label>
                <input class="form-control" id="messageText" type="text" th:field="*{messageText}">
            </div>
            <div class="col-4"><label for="messageType">Message Type: </label>
                <select id="messageType" class="form-control" th:field="*{messageType}">
                    <option
                            th:each="type : ${allMessageTypes}"
                            th:value="${type}"
                            th:text="${type}"
                    >
                        Say
                    </option>
                </select>
            </div>
        </div>
        <button id="submitMsg" class="btn btn-outline-primary mt-4" type="submit">Submit</button>
    </form>

    <div th:each="chatMessage : ${chatMessages}" class="msg">
        <span th:text="${chatMessage.username}">Username</span>: <span
            th:text="${chatMessage.message}">Hello, world!</span>
    </div>
</section>
</body>
</html>
