<html th:replace="~{layout :: layout(~{::title},~{::section})}" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>SIGNUP</title>
</head>

<body>

<section>

    <div class="row justify-content-center">
        <!--/*@thymesVar id="user" type="com.udacity.jwdnd.ci.review.model.User"*/-->

        <form class="col col-6" th:object="${user}"
              action="#" th:action="@{/signup}" method="post">

            <h1>Sign Up</h1>
            <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}">
                here goes the error
            </div>
            <div class="alert alert-success" th:if="${successMessage}" >
                <p id="success" th:text="${successMessage}">here goes the success</p>
                <a href="/login">Login</a>
            </div>

            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername"
                       th:field="*{userName}">
            </div>

            <div class="form-group">
                <label for="inputFirstname">First Name</label>
                <input type="text" class="form-control" id="inputFirstname"
                       th:field="*{firstName}">
            </div>

            <div class="form-group">
                <label for="inputLastName">Last Name</label>
                <input type="text" class="form-control" id="inputLastName"
                       th:field="*{lastName}">
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword"
                       th:field="*{password}">
            </div>

            <button type="submit" class="btn btn-outline-primary">Submit</button>
            <div class="mt-2">Already signed up? <a href="login">Login</a></div>

        </form>
    </div>
</section>
</body>
</html>
